* {
    margin: 0;
    padding: 0;
}

.conteiner-principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    top: 0;
}


/* logo */

.logo {
    position: absolute;
    width: 300px;
    height: auto;
}

.logo img {
    position: absolute;
    width: 90%;
    height: auto;
}


/* logo */


/* menu */

nav {
    position: absolute;
    right: 30px;
    bottom: 0px;
}

nav ul li {
    float: left;
    color: rgb(255, 255, 255);
    width: auto;
    margin: 0.8em;
    font-size: 1.4em;
    font-family: Impact;
}

nav ul li a {
    text-decoration: none;
    color: darkgrey;
}

nav ul li a:hover {
    color: black;
}


/* banner */

#banner {
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative;
}

#banner img {
    width: 100%;
    margin-bottom: 0;
}

#imgsobre img {
    width: 30%;
    position: relative;
}


/**/

#geral {
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;    
    margin:0 auto;
    background:#ddd;
}
#cabecalho {
    background:#fdd;
}
#conteudo-1 {
    background:#bfb;
}
#conteudo-2-1 {
    background:#ddf;
}
#conteudo-2-2 {
    background:#dff;
}
#rodape {
    background:#ff9;
}

#conteudo-1 {
    float:left;
    width:240px;
    background:#bfb;
}
#conteudo-2 {
    float:right;
    width:720px;

}
/**/
#conteudo-2-1 {
    float:left;
    width:480px;
    background:#ddf;
}
#conteudo-2-2 {
    float:right;
    width:240px;
    background:#dff;
}
/**/
#rodape {
    clear:both;/*posicionando o rodape abaixo das outras divs*/
    background:#ff9;
}
/**/
#cabecalho {
    padding:10px;
    background:#fdd;
}
#conteudo-1 {
    overflow: hidden;
    float:left;
     /* diminuimos a largura para não quebrar o layout. 
      * valor antigo 220
      */
    width:420px;
    padding:10px;
    background:green;
}
#conteudo-2 {
    overflow: hidden;
    float:left;    
   width:420px;
   padding:10px;
   background: yellow;
}
#conteudo-3 {
    overflow: hidden;
    float:left;    
    width:420px;
    padding:10px;
    background: red;
}
#rodape {
    clear:both;
    padding:10px;
    background:#ff9;
}