@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner-principal {
    font-family: Verdana, Tahoma, sans-serif;
    color: aliceblue;
}

header {
    width: 100%;
    height: 105px;
    background-color: #fff;
    position: relative;
    top: 0;
}


/* logo */

.logo {
    position: absolute;
    width: 300px;
    height: auto;
}

.logo img {
    position: absolute;
    width: 90%;
    height: auto;
}


/* logo */

/*
#icon {
    overflow: hidden;
    float: left;
    position: relative; 
    font-size: 14px;
    padding: 10px;
    margin: 5px;
}
*/
/* menu */

nav {
    position: absolute;
    right: 30px;
    bottom: 0px;
}

nav ul li {
    float: left;
    color: rgb(255, 255, 255);
    width: auto;
    margin: 0.8em;
    font-size: 1.4em;
    font-family: Impact;
}

nav ul li a {
    text-decoration: none;
    color: darkgrey;
}

nav ul li a:hover {
    color: black;
}


/* banner */

#banner {
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative;
}

#banner img {
    width: 100%;
    margin-bottom: 0;
}

#imgsobre img {
    width: 150px;
    position: relative;
}


/**/

#geral {
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    
    color: rgb(0, 0, 0);
}

#cabecalho {
    padding: 10px;
    background: #646472;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#principal {
    /*isso nao ta legal*/
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative;

}

#conteudo-1 {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
    margin: 2px;
    background: #F8A80C;
    width: 32%;
    height: 150px;
    font-size: 12px;
}

#conteudo-2 {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
    margin: 2px;
    background: #D97B0B;
    width: 32%;
    height: 150px;
    font-size: 12px;
}


#conteudo-3 {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
    margin: 2px;
    background: #F06201;
    width: 32%;
    height: 150px;
    font-size: 12px;
}


.iten-galeria .title-galeria {
    position: absolute;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*galeria

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*/
.container-galeria{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 300px;
    padding: 5px;
    grid-gap: 5px;
}

.item-galeria{
    position: relative;
}

.item-galeria .img-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-galeria .title-galeria{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16pt;
    font-family: 'Quicksand';
}


.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}


@media(max-width:768px){
    .container-galeria{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 50vh;
    }

    .h-2{
        grid-row: span 1;
    }
    
    .w-2{
        grid-column: span 1;
    }
}

/*boot*/
.geral {
    box-sizing: content-box;
}

#geral {
    box-sizing: content-box;
}