* {
    margin: 0;
    padding: 0;
}

.conteiner-principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

header {
    width: 100%;
    height: 150px;
    background-color: #fff;
    position: relative;
    top: 0;
}


/* logo */

.logo {
    position: absolute;
    width: 300px;
    height: auto;
}

.logo img {
    position: absolute;
    width: 90%;
    height: auto;
}


/* logo */


/* menu */

nav {
    position: absolute;
    right: 30px;
    bottom: 0px;
}

nav ul li {
    float: left;
    color: rgb(255, 255, 255);
    width: auto;
    margin: 0.8em;
    font-size: 1.4em;
    font-family: Impact;
}

nav ul li a {
    text-decoration: none;
    color: darkgrey;
}

nav ul li a:hover {
    color: black;
}


/* banner */

#banner {
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative;
}

#banner img {
    width: 100%;
    margin-bottom: 0;
}

#imgsobre img {
    width: 30%;
    position: relative;
}


/**/

#geral {
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;    
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

#cabecalho {
    padding: 10px;
    background: #646472;
}

#principal {
    /*isso nao ta legal*/
    overflow: hidden;
    /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative;

}

#conteudo-1 {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
    margin: 2px;
    background: #F8A80C;      
    width: 32%;
    height: 100px;
    font-size: 12px;
}

#conteudo-2 {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
    margin: 2px;
    background: #D97B0B;
    width: 32%;
    height: 100px;
    font-size: 12px;
}


#conteudo-3 {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
    margin: 2px;
    background: #F06201;
    width: 32%;
    height: 100px;
    font-size: 12px;
}

#galeria {
    overflow: hidden;
    float: left;
}

#rodape {
    color: white;
    clear: both;
    padding: 20px;
    background: black;
}

/*boot*/
.geral {
    box-sizing: content-box;
}