/*
FONTES E CORES


*/
/* Color Theme Swatches in Hex */
.Passports-to-world-travel-1-hex { color: #1b2a3b; }
.Passports-to-world-travel-1-hex { color: #253C59; }
.Passports-to-world-travel-2-hex { color: #58788C; }
.Passports-to-world-travel-3-hex { color: #99B4BF; }
.Passports-to-world-travel-4-hex { color: #D9B70D; }
.Passports-to-world-travel-5-hex { color: #BF8D30; }
.Passports-to-world-travel-6-hex { color: #000000; }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    
    background: #253C59;
}

.cabeçalho{
    background-color: #1b2a3b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabeçalho-imagem{
    height: 100px;
}

.cabeçalho-menu{
    display: flex;
    gap: 40px;
}

.cabeçalho-menu-item{
    font-family: 'Lato', sans-serif;
    color:aliceblue;
    font-weight: 400;
    font-family: 18px;
}



  @keyframes blinker {
    50% {
      opacity: 40%;
    }
  }



  /**/


