body {
    background-color: aliceblue;
}


.atv {
    background-color: azure;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 1px 2px 8px black;
    width: 700px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

button {
    background-color: yellow;
    font-size: 20px;

}

.formulario {
    padding: 20px;
    width: 400px;
    border: 2px solid black;
    background-color: rgb(75, 138, 255);

}

.formulario button {
    background-color: green;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

table {
    border: 1px solid rgb(255, 255, 255);
    table-layout: fixed;
    width: 20px;
    left: auto;
    top: 20px;

}

th, td {
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
}


/*tabajara*/


.tabajara {
    background-color: rgb(0, 0, 255);
    width: 600px;
    height: 400px;
    padding: 20px;
    border: black solid 1px;
    color: white;
    font-size: 20px;

}

.tabajara img {
    float: left;
    width: 250px;
    padding-bottom: 20px;
}

#tab2 {
    font-size: 18px;
    width: 600px;

}